<h1>DBZ</h1>
<hr>
<div class="row">
  <div class="col">
    <h3>Personajes</h3>
    <hr>
    <ul>
      <li *ngFor="let item of lista">{{ item.nombre }} - {{ item.poder | number }} HP</li>
    </ul>
  </div>

  <div class="col">
    <h3>Agregar</h3>
    <hr>
    <form (ngSubmit)="Agregar()">
      <input type="text" name="nombres" [(ngModel)]="nuevoPersonaje.nombre" placeholder="Nombre personaje">
      <input type="number" name="poderes" [(ngModel)]="nuevoPersonaje.poder" placeholder="Poder">
      <button type="submit">Agregar</button>
    </form>
  </div>
</div>
